.footer{
	@include colors(white);
	@include pt(80);
	@include pb(40);
	@include font($light);
	@include fontSize(13);

	overflow: hidden;
	position:relative;

	&:before
	{
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    z-index: -2;
	    background-image: url('../img/background-01.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	&:after
	{
	    content: "";
	    position: absolute;
	    width: 100%;
	    height: 32%;
	    top: -15%;
	    left: 0%;
	    z-index: -1;
	    background: map-get($color, gray1);
	    transform: skewY(2deg);
	}

	.copyrights{
		@include mt(10);
		a{ @include colors(gray2); @include font; }

		@media #{$sm} { text-align: center; margin-bottom: 20px; font-size: 15px; } 

		@media #{$md} { text-align: center; margin-bottom: 20px; font-size: 15px; } 

		@media #{$lg} { text-align: left; margin-bottom: 0; font-size: 13px; } 
	}
	.social{
		text-align: center;
		@media #{$sm} { margin-bottom: 10px; } 

		@media #{$md} { margin-bottom: 10px; } 

		@media #{$lg} { margin-bottom: 0; } 
		a{
			@extend %inline;
			@include colors(gray1);
			@include fontSize(25);
			@include mr(3);
			@include ml(3);
			@include p(2px 5px);
			@include transition(.4s);
			border-radius: 50%;
			background-position-x: -100px;
			background-image: $gradient2;
			background-repeat: no-repeat;
			@include colors(blue2, white);
			transform: rotate(30deg);

			i{ transform: rotate(-30deg); }

			&:hover{
				background-position-x: 0;
				@include colors(white);
			}
		}
	}
	.p-and-t{
		@include mt(10);
		
		@media #{$sm} { text-align: center; font-size: 15px; } 

		@media #{$md} { text-align: center; font-size: 15px; } 

		@media #{$lg} { text-align: right; font-size: 13px; } 

		a{ @include colors(gray2); @include mr(10); }
	}
}